<!-- Statistics -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header d-flex p-2 flex-row align-items-center justify-content-between mb-4">
        <div class="col col-sm d-flex">
            <label class="py-lg-3 font-weight-bold text-primary" for="botlistStats">
                Статистика
            </label>
        </div>
    </div>
    <!-- Card Body -->
    <div id="statistics">
        <!-- Card Body -->
        <canvas height="200" id="statsChart" width="400" onload="drawChart('statsChart', [50, 70, 30, 20], [5, 15, 35, 55], [10,20,30,40])"></canvas>
    </div>
</div>