<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark instagram-main-theme accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-15">
            <i class="fab fa-instagram"></i>
        </div>
        <div class="sidebar-brand-text mx-1">Инстаграм боты</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span class="menu-text">Главная панель</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Боты
    </div>
    <!-- Comment Menu - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/statistics">
            <i class="fas fa-fw fa-list-alt"></i>
            <span class="menu-text">Список ботов</span></a>
    </li>
    <li class="nav-item">
        <a aria-controls="collapseFour" aria-expanded="true" class="nav-link collapsed" data-target="#collapseComment"
           data-toggle="collapse" href="#">
            <i aria-hidden="true" class="fas fa-users"></i>
            <span class="menu-text">Пользователи</span>
        </a>
        <div aria-labelledby="headingFour" class="collapse" data-parent="#accordionSidebar" id="collapseComment">
            <div class="bg-gradient-light py-2 collapse-inner rounded">
                <a class="collapse-item" href="/show_targets">Цели</a>
                <a class="collapse-item" href="/show_followers">Аккаунты</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/multibot">
            <i class="fas fa-fw fa-robot"></i>
            <span class="menu-text">Фабрика</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">
            <i class="fas fa-fw fa-question-circle"></i>
            <span class="menu-text">Справка</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
