{% extends "app.html.jinja2" %}
{% block title %}Справка{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block container %}
    <!-- Content Row -->
    <section class="container shadow justify-center" style="color: #1e1e1e">
    <h3 class="pt-5">О сервисе</h3>
    <p>
        Сервис позволяет одновременно управлять несколькими аккаунтами-агентами. Для них базовыми функциями
        является ставка лайков и комментария подписчику цели, если подписчик имеет публичный аккаунт и совпадает
        по заданным фильтрам, или же отправляет запрос на подписку упомянутому подписчику, если имеет приватный
        аккаунт.
        Но мир не является черно-белым, так что добавлен третий вариант, когда оба вышеупомянутых варианта возможны
        при
        совпадении по критериям.
    </p>
    <p class="pb-5">
        Упрощения: ПП - подписчик, ЦЛ - цель, или "конкурент", БА - "бот-агент"
    </p>
    </section>
    <br>
    <section class="container-fluid shadow justify-center" style="color: #1e1e1e">
        <h5 class="pt-5"><b>1. Главная панель</b></h5>

        <div class="container pt-3">
            <img class="card-img" alt="Index" src="{{ url_for('static', filename='img/help/main_panel01.png') }}"/>
            <p class="text-center text-small">Главная панель</p>
        </div>
        <div>
            <p>
                <b>1.1.</b> На верху указано поле для ввода комментария.
                После ввода и запуска текст остается там на следующий раз, но удаляется при след. повторении акта.
                После запуска и выбора критериев для совпадения, комментарии ставятся последнему по дате посту ПП,
                у каждого БА, есть свой клиент и они не переходят друг-другу дорогу. Ставка лайков находится в
                пределах 2-3/на ПП, в зависимости от алгоритма (35/65% вероятностью соответственно).
                И тоже в зависимости от алгоритма, лайки по возможности ставятся последним популярным по лайкам постам
                ПП.
            </p>
            <p>
                <b>1.2.</b> Количество подписчиков, которых БА должны анализировать.
                Если есть желание парсить всех ПП, совпадающих критериям админа (т.е. Вас), то
                поле оставляется пустым.
            </p>
            <p>
                <b>1.3.</b> Быстрые критерии для выбора действий с подписчиками (не сохраняется для след. действ, по ум.
                -
                все).
            </p>
            <nav>
                Возможные варианты:
                <ul>
                    <li>
                        Только открытые - когда речь идет о работе только с открытыми аккаунтами (только лайки и
                        комментарий);
                    </li>
                    <li>
                        Только закрытые - когда речь идет о работе только с закрытыми аккаунтами (только подписки);
                    </li>
                    <li>
                        Все - когда речь идет о работе со всеми;
                    </li>
                </ul>
            </nav>
            <p>
                <b>1.4.</b> Запуск - начало операции.
                <br>
                БА, которые находятся в спящем режиме или в неактивном, начинают входить в свои аккаунты, получают
                задания и фильтры, и вступают в боевые условия.
                <br>
                Сперва идет принцип "разделяй и властвуй" - т.е. БА ищут ПП, подходящих под критерии, и
                отделяют их от бесполезных для задания, и сохраняют в базу, чтобы сверяться друг с другом. Данные по
                пользователям
                удаляются в следующий раз, когда админ загружает новые цели или же по истечении 2 недель, так что не
                забывайте
                <b>скачать доклады вовремя!</b>
                <br>
                При завершении процесса БА идет в спящий режим, а через день без активности, выходит из аккаунта,
                чтобы не вызывать подозрения.
                <br>
                <small>
                    <em>
                        Причина в ограничениях от сервера для бесплатных аккаунтов (10,000 строк для бесплатного,
                        10 млн. строк для стандартного пакета).
                        <br>
                        Ресурсы заполняются след. образом:
                        <br>
                        кол-во БА + статистика по кол-ву дней + кол-во совп. ПП + кол-во ЦЛ + 1 (конфигурация)
                    </em>
                </small>
            </p>
            <p>
                <b>1.5.</b> Подпиcка на цели указанные выше кнопок "Подписаться/Отписаться".
                <br>
                Все что указывается по очереди должны чередоваться через запятую, без пробелов.
                Н-р:
                <br>
                <b>правильно</b> => Алиса,Боб,Винс,Генри,Дана... &nbsp;
                <i class="fa fa-check text-success" aria-hidden="true"></i>
                <br>
                <b>НЕправильно</b> => Алиса, Боб , Винс, Генри, ,Дана... &nbsp;
                <i class="fa fa-ban text-danger" aria-hidden="true"></i>
                <br>
                Все БА после этой операци подписываются на указанный/-ые аккаунты, или отписываются
                в обратном случае.
            </p>
            <p>
                <b>1.6.</b> Далее идет дневная или месячная статистика по проделанным операциям.
                Идет как расширяемая таблица.
            </p>
            <nav>
                Параметры:
                <ul>
                    <li>
                        Пройдены - общее количество парсенных ПП целей, вместе взятых;
                    </li>
                    <li>
                        Совпали - общее количество подходящих по критериям ПП;
                    </li>
                    <li>
                        Заявки - общее количество заявок на подписку по критериям;
                    </li>
                    <li>
                        Комментарии - oбщее количество комментариев, не нужно обьяснять;
                    </li>
                    <li>
                        Дата - для сбора статистики по датам;
                    </li>
                </ul>
            </nav>
        </div>
    <p class="pb-5"></p>
    </section>
    <br>
    <section class="container-fluid  shadow justify-center" style="color: #1e1e1e">
        <h5 class="pt-5"><b>2. Список ботов</b></h5>

        <div class="container pt-3">
            <img class="card-img" alt="Index" src="{{ url_for('static', filename='img/help/list_panel.png') }}"/>
            <p class="text-center text-small">Список ботов</p>
        </div>
        <div>
            <p>
                <b>2.1.</b> На верху указаны панели о состоянии БА.
            </p>
            <nav>
                Возможные состояния:
                <ul>
                    <li>
                        <b class="text-success">Активны</b>
                        - количество БА, которые пришли на работу (логинились) и неустанно занимаются делом, настоящие трудоголики, пока никаких проблем;
                    </li>
                    <li>
                        <b class="text-danger">Неактивны</b>
                        - количество БА, которые бездельничают, то ли по уважительным причинам (не вошел еще в аккаунт свой), то ли задержан полицией (блокировка властями Инстаграмляндии);
                    </li>
                    <li>
                        <b class="text-warning">Ждут</b>
                        - количество БА, которые пришли на работу, работали, но взяли паузу, чтобы полиция не подозревала;
                    </li>
                    <li>
                        <b class="text-primary">Завершили</b>
                        - количество БА, которые выполнили план и заслужили отдых и похвалу от начальства, на работе их уважают и завидуют одновременно;
                    </li>
                    <li>
                        <b class="text-secondary">Общее</b>
                        - весь дружный коллектив;
                    </li>
                </ul>
            </nav>
            <p class="pb-5">
                <b>2.2.</b> Таблица БА.
                <br>
                Указаны порядковый номер, фотография 2 на пи эр, никнейми т.д.
                <br>
                В раскрывающемся списке указаные индивидуальная статистика (лайки удалю)
            </p>
        </div>
    </section>
    <section class="container-fluid  shadow justify-center" style="color: #1e1e1e">
        <h5 class="pt-5"><b>4. Настройки</b></h5>

        <div class="container pt-3">
            <img class="card-img" alt="Index" src="{{ url_for('static', filename='img/help/settings01.png') }}"/>
            <p class="text-center text-small">Список ботов</p>
        </div>
        <div>
            <p>
                <b>4.1.</b> Настройка аккаунтов БА.
                <br>
                Выбор файла для инициализации БА
                Должен быть следующего формата
            </p>
            <div class="container" style="margin-left: -70px">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"><b>username</b></th>
                    <th scope="col"><b>targets</b></th>
                    <th scope="col"><b>fullname</b></th>
                    <th scope="col"><b>email</b></th>
                    <th scope="col"><b>password</b></th>
                    <th scope="col"><b>biography</b></th>
                    <th scope="col"><b>external_url</b></th>
                    <th scope="col"><b>gender</b></th>
                    <th scope="col"><b>private</b></th>
                    <th scope="col"><b>proxy</b></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>winnenerbe</td>
                        <td>..,..,..</td>
                        <td>Эдвин</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>male</td>
                        <td>0</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            </div>

            <p>
                <b>2.2.</b> Таблица БА.
                <br>
                Указаны порядковый номер, фото профиля, никнейми т.д.
                <ul class="pt-4n">
                    <li>
                        <b>username*</b> - имя аккаунта БА;
                    </li>
                    <li>
                        <b>targets</b> - цели и/или "конкуренты";
                    </li>
                    <li>
                        <b>fullname</b> - полное имя аккаунта;
                    </li>
                    <li>
                        <b>email</b> - постовый адрес, через который бот зарегистрировался;
                    </li>
                    <li>
                        <b>password</b> - пароль для входа в аккаунт;
                    </li>
                    <li>
                        <b>biography</b> - о себе;
                    </li>
                    <li>
                        <b>external_url</b> - внешняя ссылка;
                    </li>
                    <li>
                        <b>gender</b> - пол, указанный в аккаунте (возможные зн. male, female, (пусто));
                    </li>
                    <li>
                        <b>private</b> - тип аккаунта (private = 1 - закрытый; private = 0 - открытый);
                    </li>
                    <li>
                        <b>proxy</b> - прокси, для скрытия бота (для маленького кол-ва ПП нет необходимости);
                    </li>
                </ul>
                <small>* - невозможно поменять через программу, но если хочется, то поменяйте через https://www.instagram.com</small>
                <small> пока проблемно менять данные БА аккаунта, но возможно </small>
                <br>
                Особенности загрузки/обновления заключаются в том, что до полной готовности БА к бою, проходит обычно несколько секунд, прежде чем оно будет готово.
                Для показа данных бота, программа собирает свои данные из базы данных (если ранее оно было загружено) или из инстаграм (если впервые), обновляет фото профиля и т.д.
                До полной готовности нельзя начать какие-либо процессы. Для этого обновляйте страницу "список ботов", и когда увидите статус
                <p class="badge badge-warning pl-5n">
                    ждет
                </p>
                , то можете начать действия.

                В странице пользователей, можете ознакомиться с пользователями, над которыми работали БА (общее). Там указаны данные о пользователях.
                Цели как видно находятся в подменью на верху менью "Пользователи", а их ПП, на "Аккаунтах". Там находятся ПП, к которым была отправлена заявка
                на подписку, ПП к которым БА поставили лайки и комментарий (для удобства проверки).

                Осталась задача визуализации статистики, хотя логика статистики работает, когда БА проводит операции.
                Еще нужно будет добавить realtime показ операций, если захотите.
            </p>
            <br class="pb-5"/>
        </div>
    </section>
    <!-- End of Main Content -->
{% endblock %}